@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
    background-color: #d6d7db;
     font-family: 'Quicksand', sans-serif;
     letter-spacing: 1px;
}
.main{
    border-radius: 15px;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.4);
    margin: 15px;
}
.ico{
    position: relative;
    width: 70px;
    height: 70px;
}
#date{
    font-size: x-small;
}
#city{
    font-size: x-small;
}
#des{
    font-size: x-small;
}
#humidity{
    font-size: x-small;
}
.bar {
    display: flex;
    background: chocolate;
    padding: 10px 10px 0 10px;
    list-style: none;
    margin: 0;
}

.tab {
    background: white;
    padding: 8px 40px;
    margin-right: 10px;
    cursor: pointer;
}

.content {
    padding: 20px;
    border-top: 0 none;
    min-height: 200px;
}

#tab2 {
    opacity: 0.5;
}

#content2 {
    display: none;
}
